<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Testnet Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   <!--- <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"> -->
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
      function LoginController($scope) {
        var socket = io.connect();

        socket.on('login', function () {
          console.log("Try to login" + $scope);
          socket.emit($scope);
          
        });
        
   
       $scope.adminMode = function adminMode() {
          console.log('admin mode');
          socket.emit('admin');
        };
      
      
        $scope.normalMode = function normalMode() {
          console.log('user mode');
          socket.emit('user');
        };
        
        

      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="LoginController">
    <div class="form-group">
      <form  class="form-inline" ng-submit="login()">
        <div class="span4">Select your role</div>
        <div class="input-append span4">
          <input type="button" class="span2 btn btn-primary" ng-click="adminMode()" value="Admin">
          <input type="button" class="span2 btn btn-primary" ng-click="normalMode()" value="User">
         
        </div>
      </form>
    </div>

      
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
